main{
    grid-area: main;
    .mainIndex{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 171, 185);
        animation-name: animacion-index;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 3s;
        .box1{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-top: 100px;
            margin-bottom: 100px;
            
            img{
                display: flex;
                flex-wrap: wrap;
            }
        }
        .box2{
            display: flex;
            flex-wrap: wrap;
            padding-top: 100px;
            justify-content: center;
            background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(64, 64, 64));

            img{
                display: flex;
                padding: 20px;
                flex-wrap: wrap;
            }
        }
    }
}
@keyframes animacion-index {
    0% {
        background-color: rgb(255, 171, 185);
    }

    50% {
        background-color: rgb(255, 56, 89);
    }

    100% {
        background-color: rgb(255, 171, 185);
    }
}